* {
  box-sizing: border-box;
  font: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 8px;
}

body {
  font: 2rem/3rem monospace;
  background: #282828;
  color: #d5c4a1;
}

#header {
  top: 0;
}

#footer {
  bottom: 0;
}

#header, #footer {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  background: #3c3836;
}
#header nav, #footer nav {
  display: flex;
  margin-left: auto;
}
#header h1, #header h2, #header a, #footer h1, #footer h2, #footer a {
  padding: 1rem 2rem;
}
#header h1, #header h2, #footer h1, #footer h2 {
  font-weight: bold;
}
#header a, #footer a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
#header a:hover, #footer a:hover {
  background: #d3869b;
  color: #282828;
}

#editor .CodeMirror {
  position: absolute;
  top: 6rem;
  bottom: 6rem;
  left: 0;
  right: 0;
  height: auto;
}

#editor .CodeMirror {
  background: #282828;
  color: #d5c4a1;
}
#editor .CodeMirror-cursor {
  border-color: #fabd2f;
}
#editor .CodeMirror-selected {
  background: #3c3836;
}
#editor .CodeMirror-gutters {
  background: #282828;
  border: none;
}
#editor .CodeMirror-linenumbers {
  min-width: 4rem;
  padding-right: 1rem;
}
#editor .CodeMirror-linenumber {
  color: #665c54;
}
#editor .CodeMirror-simplescroll-horizontal,
#editor .CodeMirror-simplescroll-vertical {
  background: #282828;
  width: 1rem;
}
#editor .CodeMirror-simplescroll-horizontal div,
#editor .CodeMirror-simplescroll-vertical div {
  background: #504945;
  border: none;
  border-radius: 0;
}

#editor .cm-header, #editor .cm-subheader {
  color: #d3869b;
  font-weight: bold;
}
#editor .cm-plus {
  color: #b8bb26;
}
#editor .cm-minus {
  color: #fb4934;
}
#editor .cm-equals {
  color: #83a598;
}