doctype html
html
    head
        link(rel="stylesheet" href="sass/styles.sass")

        title test

    body

        section#header
            h1 test
            nav
                a#clear clear

        section#editor
            textarea(spellcheck="false")

        section#footer
            h2 test
            nav
                a(href="//github.com/monstersource/cyoa-tracker") source

        script(src="ts/main.ts")
