doctype html
html
    head
        link(rel="stylesheet" href="sass/styles.sass")

        title CYOA tracker

    body

        section#header
            h1 CYOA tracker
            nav
                a#clear clear

        section#editor
            textarea(spellcheck="false")

        section#footer
            h2 waiting for input...
            nav
                a(href="//github.com/monstersource/cyoa-tracker") source

        script(src="ts/main.ts")
