doctype html
html
    head
        link(rel="stylesheet" href="sass/styles.sass")

        title CYOA tracker

    body

        section#header
            h1 CYOA tracker
            nav
                a#clear clear

        section#editor

        section#sidebar
            h2 results:

        section#footer
            div.output
            nav
                a(href="//github.com/monstersource/cyoa-tracker") docs / source

        script(src="ts/main.ts")
